body {
  margin: 0;
  display: flex;
  justify-content: center;

  height: 100vh;
  font-size: 20px;
  background: #FFFBF8;
}

.square-background {
  flex-shrink: 0;
  background: #261B9D;
  width: 100vw;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width:320px;
  height: 55.618px;
  flex-shrink: 0;
  background: #261B9D;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0;
  margin-top: 25px;
  border: 0px;

}

h1 {
  margin-top: 6 5px; 
  margin-bottom: 0; 
  text-align: center;
  color: #FFFBF8;
  font-family: Libre Bodoni;
  font-size: 35.57px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  text-align: center;

}

.form {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


select#currentStation,
select#destinationStation {
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 5px;
  background: rgba(27, 20, 110, 0.09);
  font-family: 'Ubuntu';
  font-size: 5%;
  font-style: normal;
  color: rgba(15, 22, 80, 0.71);
  font-family: SchulVokalDotless;
  font-size: 17.778px;
  font-weight: 400;
  line-height: normal;
  padding: 2%;
  width: 35%;
  border: 0px;
  height: 33px;
  
}



div.distanation, div.current {
  margin: 9px;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu';
  padding: 3px;
  margin-left:0px;
  margin-right: 0px;
  
}

label.title {
  justify-content: center;
  padding-top: 9px;
  padding-right: 10px;
  color: rgba(15, 22, 80, 0.71);


}



section#directionForm.form {
  display: flex;
  margin-top: 42%;
  
}

p#result {
  font-family: 'Ubuntu';
  display: flex;
  position: fixed;
  margin-top: 370px; /* Adjust this value based on your design */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFBF8;
  padding: 10px;
  border-radius: 8px;
}
